.outerDiv{
    background-color: #FFFFFF;
}

.authorHeading{
    margin: 0px;
    margin-top: 22px;
}

.authorHeading h1,p{
    margin: 0px;
}

.authorHeading p{
    font-size: 13px;
}

.outerCardDiv{
    display: flex;
    margin-bottom: 40px;
    margin-top: 20px;

}

.card1,.card2,.card3,.card4{
    border-radius: 10px;
    width: 260px;
    height: 120px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card1{
    background-color: #924AEF;
    color: white;
}

.card2{
    background-color: #5ECFFF;
    color: white;
}

.card3{
    background-color: #E328AF;
    color: white;
    width: 220px;
    height: 100px;
}

.card4{
    background-color: #FFC65E;
    color: white;
}